In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\tun42\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

# NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

#Set an HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [4]:
# Retrieve the latest element that contains news title and news_paragraph
news_title = soup.find_all('div', class_='content_title')[1].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

In [5]:
print(news_title)
print(news_p)

Another First: Perseverance Captures the Sounds of Driving on Mars
NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.

# JPL Mars Space Images - Featured Image

In [6]:
space_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(space_url)
browser.links.find_by_partial_text('FULL IMAGE').click()
#Set an HTML object
html_space = browser.html

# Parse HTML with Beautiful Soup
soup2 = bs(html_space, 'html.parser')

In [7]:
image_url = soup2.find('img',attrs={'class':'fancybox-image'})['src']

In [8]:
#Website URL
web_main_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

In [9]:
featured_image_url = web_main_url + image_url

In [10]:
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

# Mars Facts

In [11]:
url_facts = 'https://space-facts.com/mars/'

In [12]:
tables = pd.read_html(url_facts)
mars_fact_df = tables[0]
mars_fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
mars_fact_df.columns = ['Description','Value']
mars_fact_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
mars_fact_df.set_index('Description', inplace=True)
mars_fact_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [29]:
#mars_fact_df.to_html()
with open('mars_facts_df.html', 'w') as fo:
    mars_fact_df.to_html(fo)

# Mars Hemispheres

In [18]:
url_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hemi)

# Set an HTML object
html_hemi = browser.html

# Parse HTML with Beautiful Soup
soup_hemi = bs(html_hemi, 'html.parser')

In [23]:
# Retrieve items that contain mars hemi info
item = soup_hemi.find_all('div', class_='item')

# Create an empty list to hold it
hemi_list = []

# Main url
hemi_main_url = 'https://astrogeology.usgs.gov'

In [26]:
# Create for loop 
for i in item:
    
    title = i.find('h3').text
    
    partial_img = i.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemi_main_url + partial_img)
    
    partial_html = browser.html
    
    soup_par = bs(partial_html, 'html.parser')
    
    image_url = hemi_main_url + soup_par.find('img', class_='wide-image')['src']
    
    hemi_list.append({"title": title, "img_url": image_url})

In [27]:
hemi_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]